{#
/**
 * @file
 *
 * Available variables:
 * - url: File Url
 * - label: Link label
 * - size: File size
 * - download: (boolean)
 *
 * @ingroup themeable
 */
#}

{% if url %}
  <a href="{{ url }}" class="file-link" title="{{ filename }} ({{ size }})" target="_blank" {{ download ? 'download' : '' }}>{{ label }}</a>
{% endif %}
